body{

   background-color: #4D4D4D;
    font-family: "Trebuchet MS";
}


.colorone {

    background-color: #0082AE;
}

.colortwo {
    background-color: #002A3F;
}

.contenu  {
    display: flex;
    flex-direction: column;
}

.texte {

    font-size: 20px;

}

.ombreafaire{

    box-shadow: 0 0 25px rgb(0 0 0 /35%);
}
