#output {
  background-color: #B1D9E6;
  color: #305AA1;
  border: 1px solid #0082AE;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 28px;
  border-radius: 3px;

}
.hide {
  display:none;
}
.show {
  display:block;
}
button {
  border-radius: 0;
  color: #002A3F;
  top: 10px;
  padding-left: 8px;
  padding-right: 7px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: none;
  background-color: #fff;
  margin-top: 60px;
  margin-left: 155px;
}
.buttonlegend {
  border-radius: 0;
  color: #002A3F;
  top: 10px;
  padding-left: 8px;
  padding-right: 7px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: none;
  background-color: #fff;
  margin: 5px 0px;
  width: 100%;
  text-align: left;
}
button:hover {
  background : #0082ae;
  color: #fff;
}

.legende {
  background-color: #DAEDF3;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 15px;
}

.destination {
    background-color: #5e7f9b;
    text-align: center;
    width: 100%;
    padding-top: 20px;
}
.titre {
  margin: 0px;
  padding-top: 2px;
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
  line-height: 1em;
}

.titre-medium {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
}
.paragraphe-dest {
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  font-weight: bold;
  color: #000;

}
.colonne {
  text-align: center;
  padding-top: 10px;
  display: inline-block;
  width: 32%;
  vertical-align: top;
  border:solid black 1px;
  background-color: #DAEDF3;
}

.orange{
  color: #f49b00 !important;
}