#output {
  background-color: #B1D9E6;
  color: #305AA1;
  border: 1px solid #0082AE;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 28px;
  border-radius: 3px;

}
.hide {
  display:none;
}
.show {
  display:block;
}
button {
  border-radius: 0;
  color: #002A3F;
  top: 10px;
  padding-left: 8px;
  padding-right: 7px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: none;
  background-color: #fff;
  margin-top: 60px;
  margin-left: 155px;
}
.buttonlegend {
  border-radius: 0;
  color: #002A3F;
  top: 10px;
  padding-left: 8px;
  padding-right: 7px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: none;
  background-color: #fff;
  margin: 5px 0px;
  width: 100%;
  text-align: left;
}
button:hover {
  background : #0082ae;
  color: #fff;
}

.colorone {

  background-color: #0082AE;
}

.colortwo {
  background-color: #002A3F;
}

.contenu  {
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.texte {

  font-size: 20px;

}

.legende {
  background-color: #DAEDF3;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 15px;
}
